$whatsapp-color: #68d251;
$mail-color: #fd6f2c;

.ta.sharing {
  .ui.button {
    //color: #FFF;

    //&.whatsapp {
    //  background-color: $whatsapp-color;
    //  &:hover {
    //    background-color: darken($whatsapp-color, 5%)
    //  }
    //}
    //
    //&.mail {
    //  background-color: $mail-color;
    //
    //  &:hover {
    //    background-color: darken($mail-color, 5%);
    //  }
    //}
  }
}

.inverted {
  .ta.sharing:not(.inverted) .share,
  .ta.sharing .share:not(.inverted) {
    color: #007abf
  }
}

ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item {
  // line-height: 95% !important;
}
